a {
  text-decoration: none;
}

.dropdown-menu {
  position: absolute;
  top: 0;
  right: 0;
   /* -webkit-backdrop-filter: blur(10px); */
  /* backdrop-filter: blur(10px); */
  /* background: linear-gradient(135deg, #535353d8 0%, #ffffff60 100%); */
  border-radius: 10px;
  padding: 60px 0px 20px 40px;
  width: 200px;
  /* color: rgb(139, 139, 139); TODO: bg blur is not working woth blurred navbar */
  opacity: 0;
  visibility: hidden;
  transform: translateX(50px);
  transition: opacity 1s ease, visibility 1s ease, transform 1s ease;
  z-index: -1; /* Ensure the menu appears above other content */
}

.dropdown-menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown-menu ul li {
  padding: 10px 0;
  opacity: 0;
  transform: translateX(30px);
  transition: opacity 0.1s ease, transform 0.1s ease;
}

.dropdown-menu.active ul li {
  opacity: 1;
  transform: translateX(0);
}


/* TODO: when i hover on any option a tags like Sign Up, Home, Events etc it should apply the below properties. color should change to white with a transistion */
.dropdown-menu ul li:hover a {
  color: rgb(255, 245, 245);
  cursor: pointer;
  transition: 0.3s ease;
}

.dropdownItem {
  width: 100%;
  display: flex;
  margin: 5px auto;
}

.dropdownItem a {
  max-width: 100%;
  font-size: 20px;
  font-family: 'Kollektif Bold';
}
