* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#eventsContainer {
  height: 100vh;
  width: 100%;
  /* padding: 0px 0px 30px 60px; */
  color: white;
  /* background-image: url('/bg.jpg'); */
  background-position: top; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  position: relative;
  /* transition: background 1s ease; */

}

#mainContainer{
  width: 80%;
  height: 80%;
  position: absolute;
  top: 140px;
  left: 50px;
}

.slider-container {
  width: 200px;
  height: 80%;
  /* margin-left: 100px; */
  position: absolute;
  border-radius: 10px;
  overflow-x: auto;
  scrollbar-width: none;
  top: 15%;
  transform: translateX(55%);
}

.slider {
  display: grid;
  grid-template-rows: repeat(
    auto-fit,
    minmax(100px, auto)
  ); /* Adjust row height as needed */
}

.imgContainer{
    width: 100%;
  position: relative;
  height: 150px;
  overflow-y: hidden;
}
.imgContainer img{
    height: 100%;
    width: 100%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

.imgContainer:hover{
  scale: 1.1;
  transition: 0.5s ease;
}

/* img:hover{
    transform: scale(1.1);
} */

#gradientShade{
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, rgba(255,0,41,0) 0%, rgba(255,55,55,0) 17%, rgba(255,255,255,0) 100%);
    transition: 2s ease;
}

#gradientShade:hover{
    background: rgb(255,0,41);
    background: linear-gradient(90deg, rgba(255,0,41,0.5) 0%, rgba(255,55,55,0.5) 17%, rgba(255,255,255,0) 100%);
}