  /* section {
    padding-top: 200px;
  } */
  
  .ImageScroll__wrapper {
    padding-top: 50px;
    width: 100vw;
    height: 100px;
    overflow: hidden;
  }
  
  .ImageScroll__image {
    height: 100%;
    width: 200%;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/collage.jpg);
    background-repeat: repeat-x;
    transform: translate3d(0, 0, 0);
  }
  