@tailwind base;
@tailwind components;
@tailwind utilities;

/* body{
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;

} */

@layer base {
    @font-face {
        font-family: 'Valorax';
        src: url('../Fonts/valorax.otf');
    }
    @font-face {
        font-family: 'Kollektif';
        src: url('../Fonts/Kollektif.ttf');
    }
    @font-face {
        font-family: 'Kollektif Bold';
        src: url('../Fonts/Kollektif-Bold.ttf');
    }
    @font-face {
        font-family: 'PUBG';
        src: url('../Fonts/PUBG.ttf');
    }
    @font-face {
        font-family: 'Valorant';
        src: url('../Fonts/Valorant.ttf');
    }
    @font-face {
        font-family: 'Simplicity';
        src: url('../Fonts/Simplicity.ttf');
    }
  }